<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Student</title>
    
</head>
<body>
    <h2>Inbox</h2>

  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>
          <a href="{% url 'read_message' message.id %}">{{ message.sender.username }} - {{ message.sent_at }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No messages yet!</p>
  {% endif %}

</body>
</html>